<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bird Audio Recognition</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <h1 class="mt-5 mb-4">Bird Audio Recognition</h1>
          <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="audioFile">Choose an audio file</label>
              <input
                type="file"
                class="form-control"
                id="audioFile"
                name="audioFile"
                accept=".mp3, .wav, .ogg, .m4a, .aac, .flac, .webm, .mid, .wma, .amr, .3gpp"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3">
              Predict Bird
            </button>
          </form>
          <div id="output" class="text-center">
            <h3>Bird Name Prediction:</h3>
            <p id="birdName"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
